{{- if .Values.configWatcher.deploy -}}
{{- if .Values.configWatcher.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ddm-notification-service.configWatcher.serviceAccountName" . }}
  labels:
    {{- include "ddm-notification-service.configWatcher.labels" . | nindent 4 }}
  {{- with .Values.configWatcher.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}