{{- if or (not .Values.global.excludePortals) (not (has "citizen" .Values.global.excludePortals)) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ddm-notification-service.fullname" . }}
  labels:
    app: {{ .Chart.Name }}
    {{- include "ddm-notification-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ddm-notification-service.selectorLabels" . | nindent 4 }}
{{- end }}